<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Bosh sahifa</title>
</head>
<body>
    <h1>Bosh sahifa</h1>
    <hr>
    <a href="/talabalar/">Talabalar</a>
    <a href="/mualliflar/">Mualliflar</a>
    <a href="/kitoblar/">Kitoblar</a>
    <a href="/kutubxonachilar/">Kutubxonachilar</a>
    <a href="/recordlar/">Recordlar</a>
    <a href="/tirik_mualliflar/">Tirik_mualliflar</a>
    <a href="/kitobi_kop/">Kitobi ko'p muallif</a>
    <a href="/oxirgi_recordlar/">Oxirgi recordlar</a>
    <a href="/muallif_kitobi/">Muallif kitobi</a>
    <a href="/badiy_kitoblar/">Badiiy kitoblar</a>
    <a href="/kitob_soni/">Kitob soni</a>
    <a href="/record_details/">Recordlar ma'lumoti</a>
</body>
</html>