<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Kitoblar</title>
</head>
<body>
    <h1>Kitoblar ro'yxati</h1>
    <form>
        <input type="text" name="search" {% if search %} value={{ search }} {% endif %}>
        <button>Qidirish</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <label>Nom: </label>
        <input type="text" name="nom" required>
        <label>Annotatsiya:</label>
        <textarea name="annotatsiya"></textarea>
        <label>Janr:</label>
        <input type="text" name="janr" required>
        <br><br>
        <label>Sahifasi:</label>
        <input type="number" name="sahifa">
        <label>Muallif:</label>
        <button>Saqlash</button>
    </form>
    <a href="/">Bosh sahifa</a>
    <hr>

    {% for kitob in kitoblar %}
        <p>{{ forloop.counter}}. 
            <a href="/kitoblar/{{ kitob.id }}/">{{ kitob.nom }}</a>
            <a href="/kitoblar/{{ kitob.id }}/o'chirish/tasdiqlash/">
                <button>O'chirish</button>
            </a>
        </p>
    {% endfor %}
</body>
</html>