<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Kutubxonachi qo'shish</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    <label>Ism: </label>
    <input type="text" name="ism" required>
    <label>Ish vaqti: </label>
    <select name="ish_vaqti">
        <option value="8:00 - 13:00">8:00 - 13:00</option>
        <option value="13:00 - 18:00">13:00 - 18:00</option>
    </select>
    <button>Saqlash</button>
</form>
<a href="/">Bosh sahifa</a>
<hr>
</body>
</html>