<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Kutubxonachilar</title>
</head>
<body>
  <h1>Kutubxonachilar ro'yxati: </h1>
  <hr>
  <a href="/">Bosh sahifa</a>
  {% for kutubxonachi in kutubxonachilar %}
        <p>{{ forloop.counter}}.
            <a href="/kutubxonachilar/{{ kutubxonachi.id }}/">{{ kutubxonachi.ism }}</a>
            <a href="/kutubxonachilar/{{ kutubxonachi.id }}/tahrirlash/">
                <button>Tahrirlash</button>
            </a>
        </p>
    {% endfor %}
</body>
</html>