<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Kutubxonachi | Tahrirlash</title>
</head>
<body>
    <h1>{{ kutubxonachi.ism }} ma'lumotini tahrirlash</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        <label>Ism: </label>
        <input type="text" name="ism" value="{{ kutubxonachi.ism }}" required>
        <br><br>
        <label>Ish vaqti: </label>
        <select name="ish_vaqti">
            <option value="8:00 - 13:00">8:00 - 13:00</option>
            <option value="13:00 - 18:00">13:00 - 18:00</option>
        </select>
    </form>
</body>
</html>