<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Mualliflar</title>
</head>
<body>
    <h1>Muallifar ro'yxati</h1>
    <form>
        <input type="text" name="search" {% if search %} value={{ search }} {% endif %}>
        <button>Qidirish</button>
    </form>
    <a href="/muallif-qoshish">
        <button>Yangi muallif</button>
    </a>
    <br>
    <a href="/">Bosh sahifa</a>
    <hr>

    {% for muallif in mualliflar %}
        <p>{{ forloop.counter}}. <a href="/mualliflar/{{muallif.id}}/">{{muallif.ism }}</a></p>
    {% endfor %}
</body>
</html>