<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Record ma'lumotlari</title>
</head>
<body>
    <h1>Record ma'lumotlari</h1>
    <a href="/">Bosh sahifa</a>
    <hr>

    <p>Talaba: {{ record.talaba.ism }}</p>
    <p>Kitob: {{ record.kitob.nom }}</p>
    <p>Kutubxonachi: {{ record.kutubxonachi.ism }}</p>
    <p>Olingan Sana: {{ record.olingan_sana }}</p>
    <p>Qaytarilgan Sana: {{ record.qaytarilgan_sana }}</p>
    <p>Qaytardi: {{ record.qaytardi }}</p>
</body>
</html>